body {
  font-family: 'Open Sans';
  text-align: center;
  background-color: #E4F9F5;
  color: #66BFBF;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

p {
  color: #8f8f8f;
  font-size: 1.2rem;
}

a {
  color: #C8E7E8;
  margin-right: 30px;
}

a:hover {
  color: #ffff;
  background-color: transparent;
  text-decoration: none;
}

/* Headings */

.big-heading {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.desc-heading {
  font-size: 1.3rem;
}

/* Containers */

.container-fluid {
  padding: 2% 10%;
  text-align: left;
}

@media only screen and (max-width: 991px){
  .container-fluid {
    padding: 2% 10%;
    text-align: center;
  }
  .hamburger {
    font-size: 3rem;
    cursor: pointer;
    align-items: right;
  }

  .hamburger-hm {
    color: #ffff;
  }

  .bio_about {
    padding-top: 4vh;
  }
}

@media only screen and (min-width: 992px){
  .hamburger {
    display: none;
  }

  .intro {
    margin-top: 20vh;
  }

  .bio_about {
    padding-top: 2vh;
  }
}

/* Navigation Bar */
#home.active{
  color: #ffff;
}

#about.active,
#projects.active,
#food.active {
  color: #66BFBF;
}

.navbar {
  padding: 0 0 1rem;
}

.navbar-toggler {
  color: #66BFBF;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-home .nav-link {
  color: #C8E7E8;
}

.nav-home .nav-link:hover {
  color: #ffffff;
}

.nav-link {
  font-size: 1.1rem;
  color: #8f8f8f;
}

.nav-link:hover {
  color: #66BFBF;
}

/* Home */
.name {
  font-size: 4rem;
  color: #ffffff;
  margin-top: 1rem;
}

.desc {
  color: 	#C8E7E8;
  font-weight: bold;
}

/* About Me */
.bio {
  margin-top: 5vh;
}

.bio_img {
  width: 270px;
  border-radius: 50%;
  margin: auto;
  display: block;
}

body#bg-img {
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

/* Projects */
.projects_img {
  width: 100%;
  height: 100%;
}

a.github {
  color: #8f8f8f;
  margin-right: 30px;
}

a.github:hover {
  color: #66BFBF;
  background-color: transparent;
  text-decoration: none;
}

/* Food */
.food_img {
  width: 100%;
}

.food_name {
  text-align: center;
  padding-top: 5px;
}

/* Footer */

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

.copyright {
    line-height: 40px;
    font-size: 0.7em;
    text-align: center;
    bottom: 0;
}

.copyright-hm {
    color: #ffff;
}

#overlay-home.overlay-active,
#overlay-about.overlay-active,
#overlay-projects.overlay-active,
#overlay-food.overlay-active
{
  color: #66BFBF;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #8f8f8f;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #66BFBF;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
