body {
  font-family: 'Montserrat';
  text-align: center;
  background-color: #E4F9F5;
  color: #66BFBF;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

p {
  color: #8f8f8f;
  font-size: 1.2rem;
}

/* Headings */

.big-heading {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.5;
}

.desc-heading {
  font-size: 1.3rem;
}
/* Containers */

.container-fluid {
  padding: 2% 10%;
  text-align: left;
}

@media only screen and (max-width: 991px){
  .container-fluid {
    padding: 2% 10%;
    text-align: center;
  }
  .hamburger {
    font-size: 2.5rem;
    cursor: pointer;
    align-items: right;
  }
}

@media only screen and (min-width: 992px){
  .hamburger {
    display: none;
  }
}

/* Navigation Bar */

.navbar {
  padding: 0 0 1rem;
}

.navbar-toggler {
  color: #66BFBF;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.1rem;
  color: #66BFBF;
}

.nav-link:hover {
  color: #2cabae;
}

/* About Me */
.bio {
  padding-top: 10px;
}

.bio_img {
  width: 250px;
  border-radius: 50%;
}

.bio_about {
  padding-top: 15px;
}

/* Projects */
.projects_img {
  width: 100%;
  height: 100%;
}

a {
  color: #8f8f8f;
}

a:hover {
  color: #66BFBF;
  background-color: transparent;
  text-decoration: none;
}

/* Food */
.food_img {
  width: 100%;
}

.food_name {
  text-align: center;
  padding-top: 5px;
}

/* Footer */

footer {
  position: relative;
  height: 300px;
  width: 100%;
}

.copyright {
    position: absolute;
    width: 100%;
    line-height: 40px;
    font-size: 0.7em;
    text-align: center;
    bottom:0;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #8f8f8f;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #66BFBF;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
