body {
  font-family: 'Montserrat';
  text-align: center;
  background-color: #E4F9F5;
  color: #66BFBF;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.5;
}

.desc-heading {
  font-size: 1.2rem;
}
/* Containers */

.container-fluid {
  padding: 2% 10%;
  text-align: left;
}

@media only screen and (max-width: 991px){
  .container-fluid {
    padding: 2% 10%;
    text-align: center;
  }
}

/* Sections */


/* Navigation Bar */

.navbar {
  padding: 0 0 1rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.1rem;
  color: #66BFBF;
}

.nav-link:hover {
  color: #2cabae;
}

/* About Me */
.bio {
  padding-top: 10px;
}

.bio_img {
  width: 250px;
  border-radius: 50%;
}

.bio_about {
  padding-top: 15px;
}

/* Projects */
.projects_img {
  width: 100%;
  height: 100%;
}

a {
  color: #8f8f8f;
}

a:hover {
  color: #66BFBF;
  background-color: transparent;
  text-decoration: none;
}

/* Food */
.food_img {
  width: 100%;
}

.food_name {
  text-align: center;
  padding-top: 5px;
}

/* Footer */

footer {
  position: relative;
  height: 300px;
  width: 100%;
}

p.copyright {
    position: absolute;
    width: 100%;
    line-height: 40px;
    font-size: 0.7em;
    text-align: center;
    bottom:0;
}
